
.contacts{
    box-sizing: border-box;
    /* min-width: 1400px; */
    background: #000000;
}

.contacts-box{
    height: 717px;
    background: #191C19;
    border-radius: 30px;
    position: relative;
}

.contacts-social{
    width: 567px;  
}

.contacts-social-subtitle {
    font-size: 60px;
    line-height: 60px;
    padding-top: 100px;
    margin-bottom: 60px;
    color: gold;
    letter-spacing: -0.03em;
}

.contacts-social input{
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    font-size: 22px;
    line-height: 29px;
    padding: 15px 250px 15px 40px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background: #3B3D3B;
    border-radius: 1000px;
    border: none;
}


.contacts-name{
    margin-bottom: 26px;
    outline: none;
}

.contacts-email{
    margin-bottom: 60px;
    outline: none;
}

.contacts-btn{
    font-family: 'IBM Plex Mono', monospace;
    display: block;
    display: inline-block;
    background-color: darkviolet;
    width: 453px;
    line-height: 29px;
    padding: 20px;
    font-size: 22px;
    letter-spacing: -0.03em;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
}

.contacts-img{
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



@media (max-width: 1199px){

    .contacts-box{
        height: 484px;
        border-radius: 20px;
    }

    .contacts-social-subtitle {
        width: 373px;
        font-size: 40px;
        line-height: 40px;
        padding-top: 50px;
        margin-bottom: 40px;
        margin-left: 35px;
    }

    .contacts-social input{
        font-size: 16px;
        line-height: 21px;
        padding: 10px 164px 10px 24px;
        border-radius: 675px;
        margin-left: 35px;
    }

    .contacts-name{
        margin-bottom: 17px;
        
    }
    
    .contacts-email{
        margin-bottom: 40px;
    }

    .contacts-btn{
        width: 304px;
        line-height: 21px;
        padding: 13px;
        font-size: 16px;
        border-radius: 6.7px;
        margin-left: 35px;
    }

    .contacts-img{
        height: 484px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}



@media (max-width: 830px){
    .contacts-img{
        display: none;
    }
}


@media (max-width: 767px){

    .contacts-box{
        height: 428px;
        border-radius: 18px;
    }

    .contacts-social{
        width: 100%;  
    }
    .contacts-social-subtitle {
        width: 310px;
        font-size: 35px;
        line-height: 37px;
        margin-left: 0
    }

    .contacts-social input{
        font-size: 15px;
        line-height: 17px;
        padding: 10px 141px 10px 24px;
        border-radius: 622px;
        margin-left: 0
    }

    .contacts-name{
        margin-bottom: 15px;
    }

    .contacts-btn{
        line-height: 21px;
        padding: 13px;
        font-size: 16px;
        border-radius: 6.7px;
    }

    .contacts-img{
        display: none;
    }
}

@media (max-width: 500px){

    .contacts-btn{
        width: 100%;
        margin-left: 0;
    }

    .contacts-social input{
        
        padding-right: 100px;
        
    }

}