.description-subtitle{
    margin-left: -2px;
    margin-bottom: 138px;
    color: gold;
}

.description-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
}

.description-items{
    width: 570px;
    

}

.description-items:last-child{
    margin-bottom: 121px;
}

.description-item{
    height: 46px;
    margin-bottom: 15px;
    position: relative;
}

.description-item:before{
    content: '';
    display: block;
    position: absolute;
    top: -60px;
    width: 45px;
    height: 44px;
    justify-content: center;
    border: 1px solid darkviolet;
    border-radius: 10px;
    background-color: darkviolet;
    background-image: url('../resources/logo-html.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.description-items .java:before{
    background-image: url('../resources/logo-java.png');
}

.description-items .libraries:before{
    background-image: url('../resources/logo-libraries.png');
}

.description-items .mobile:before{
    background-image: url('../resources/logo-mobile.png');
}

.description-items .libraries{
    height: 138px;
}

.description-items .mobile{
    height: 138px;
    
}

.description-items p{
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    margin-left: -2px;
    letter-spacing: -0.03em;
    color: gold;
} 



@media (max-width: 1199px){
    .description-subtitle{
        margin-bottom: 108px;
    }

    .description-box{
        row-gap: 84px;
    }

    .description-items{
        width: calc(50% - 5px);
        
    
    }

    .description-item{
        height: 36px;
        margin-bottom: 13px;
    }

    .description-item:before{
        top: -47px;
        width: 33px;
        height: 34px;
        border-radius: 8px;
        
    }

    .description-items .libraries{
        height: 108px;
    }
    
    .description-items .mobile{
        height: 108px;
        
    }

    .description-items p{
        font-size: 18px;
        line-height: 23px;
    
        
    }

    
}



@media (max-width: 767px){

    .description-subtitle{
        width: 100%;
        Height: 59px;
        font-size: 30px;
        line-height: 39px; 
        margin-bottom: 47px; 
    }

    .description-box{
        row-gap: 108px;
    }

    .description-items{
        width: 100%;
        
    }

    .description-item{
        height: 36px;
        margin-bottom: 15px;
    }

    .description-items .libraries {
        height: 70px;
    }

    .description-items:last-child{
        margin-bottom: 22px;
    }

    .description-items p{
        margin-left: 1px;
    }
    
}

@media (max-width: 370px){

    .description-items .libraries {
        height: 108px;
    }
}