.footer-wrap{
    height: 231px;
    padding-top: 10px;
    background: #000000;
}

.footer-gold {
    box-sizing: border-box;
    height: 231px;
    padding-top: 76px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: gold;
    font-family: 'Manrope', sans-serif;
}

.footer-box{
    display: flex;
    justify-content: space-between;
}

.footer-list-item{
    display: flex;
}

.footer-list-item li + li{
    margin-left: 24px;
}

.footer-list-item a{
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    line-height: 41px;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #000000;
}

.footer-list-item a:hover{
    color: darkviolet;
}

.footer-text{
    display: block;
    display: inline-block;
    width: 615px;
    height: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #000000;

}

.footer-inner{
    display: flex;
    justify-content: space-between;
    
}

.footer-text-next{
    display: block;
    width: 274px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-top: 54px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}

.footer-text-line{
    display: block;
    width: 254px;
    height: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-top: 54px;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}





@media (max-width: 1199px){

    .footer-wrap {
        padding-top: 6px;
    }

    .footer-gold {
        box-sizing: border-box;
        height: 231px;
        padding-top: 51px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .footer-text{
        height: 22px;
        font-size: 16px;
        line-height: 22px;
        margin-left: 25px;
    }

    .footer-list-item a{
        font-size: 16px;
        line-height: 22px;
        margin-right: 25px;
        
    }

    .footer-text-next{
        width: 169px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        margin-top: 43px;
        margin-left: 25px;
    }
    
    .footer-text-line{
        width: 178px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        margin-top: 43px;
        margin-right: 45px;
    }

}




@media (max-width: 767px){

    .footer-wrap{
        padding-top: 0;
    }

    .footer-box{
        display: block;
    }

    .footer-text{
        width: 250px;
        height: 40px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 18px;
        margin-left: 0;
    }

    .footer-gold {
        height: 249px;
        padding-top: 47px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        
    }

    .footer-inner{
       flex-wrap: wrap;  
    }

    .footer-text-next{
        width: 400px;
        height: 18px;
        font-size: 13px;
        line-height: 18px;
        
    }
    
    .footer-text-line{
        width: 400px;
        height: 18px;
        font-size:13 px;
        line-height: 18px;
        margin-top: 12px;
        
    }

    
}


@media (max-width: 500px){

    .footer-text-next{
        width: 300px;
        margin-top: 37px;
        margin-left: 0;
    }
    
    .footer-text-line{
        width: 300px;   
    }

    .footer-list-item li + li{
        margin-left: -13px;
    }
}