.header{
    height: 765px;
    background: linear-gradient(180deg,
     rgba(0, 0, 0, 0) 0%, 
     rgba(0, 0, 0, 0.5) 100%);
    background-image: url('../resources/most2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 81.5% 20%;
}

.header-line{
    height: 55px;
    padding-top: 27px;
    margin-bottom: 279px;
    display: flex;
    justify-content: space-between;   
}

.logo{
    width: 168px;
    height: 39px;
    margin: 8px 0;
    background: gold;
    border-radius: 100px;
    position: relative;
}

.name-logo{
    position: absolute;
    width: 109px;
    left: 9px;
    top: 7px;
    font-size: 25px;
    font-weight: 700; 
    color: darkviolet;
}

.menu-list{
    display: flex;
    margin-top: 6px;
}

.menu-list li + li{
    margin-left: 52px;
}

.menu-list a{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: gold;
}

.menu-list a:hover{
    color: darkviolet;
}

.header-text{
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    color: mediumblue;
}

h1{
    height: 205px;
    width: 970px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    margin-left: -6px;
    letter-spacing: -0.03em;
    color:gold;
}



@media (max-width: 1199px){


    .header-text{
        width: 430px;
        height: 103px;
        font-size: 20px;
        line-height: 26px;
    }

    h1{  
        width: 727px;
        font-size: 60px;
        line-height: 70px;
        margin-left: 0;
    }
}




@media (max-width: 767px){

    .header{
        height: 716px;
    }

    .header-text{
        width: 310px;
        height: 103px;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    h1{  
        width: 100%;
        font-size: 40px;
        line-height: 47px;
    }

}