.body_fixed{
    overflow: hidden;
}

.header{
    height: 765px;
    background: linear-gradient(180deg,
     rgba(0, 0, 0, 0) 0%, 
     rgba(0, 0, 0, 0.5) 100%);
    background-image: url('../resources/IMG20220724122018.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.header-container{
    position: relative;
}

.header-inner{
    /* position: relative; */
    height: 55px;
    padding-top: 27px;
    margin-bottom: 279px;
    display: flex;
    justify-content: space-between;   
}

.logo{
    width: 168px;
    height: 39px;
    margin: 8px 0;
    background: gold;
    border-radius: 100px;
    
}

.name-logo{
    width: 109px;
    margin-left: 9px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 25px;
    font-weight: 700; 
    color: darkviolet;
}

.menu-list{
    display: flex;
    margin-top: 6px;
}

.menu-list li + li{
    margin-left: 52px;
}

.menu-list a{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color:gold;
    text-shadow: 1px 0 1px black, 
    0 1px 1px black, 
    -1px 0 1px black, 
    0 -1px 1px black;
}

.menu-list a:hover{
    color: darkviolet;
}

.header-text{
    position: absolute;
    top: 455px;
    left: -150px;
    width: 430px;
    height: 103px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;
    color:white;
    text-shadow: 1px 0 1px black, 
    0 1px 1px black, 
    -1px 0 1px black, 
    0 -1px 1px black;
    
}

h1{
    position: absolute;
    top: 600px;
    left: -150px;
    height: 205px;
    width: 1500px;
    font-weight: 400;
    font-size: 80px;
    line-height: 70px;
    margin-left: -6px;
    letter-spacing: -0.03em;
    color:gold;
    text-shadow: 1px 0 1px black, 
    0 1px 1px black, 
    -1px 0 1px black, 
    0 -1px 1px black;
}

.burger-btn{
    display: none;
}

.burger{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.burger-btn{
    display: none;
    z-index: 2000;
}

.burger_open{
    visibility: visible;
}

.burger__content{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 37px;
    padding-top: 73px;
    overflow-y: auto;
    transition: transform 0.3s linear;
    transform: translateX(100%);
    background-color: #000000;
}

.burger_open .burger__content{
    transform: translateX(0);
}

.burger-logo{
    margin-bottom: 44px;
}

.burger-nav{
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-bottom: 91px;
}

.burger-nav__link {
    display: block;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-decoration: none;
    margin-left: 15px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.burger-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-left: 15px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    opacity: 0.5;
}

.burger-contacts{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.burger-contact{
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}


@media (max-width: 1700px){


    .header-text{
        top: 350px;
        left: -100px;
        width: 430px;
        
        
    }

    h1{ 
        top: 500px;
        left: -100px;
        width: 970px;
        
    }
}

@media (max-width: 1500px){


    .header-text{
        top: 350px;
        left: 0;
        width: 430px;
        
        
    }

    h1{ 
        top: 500px;
        left: 0;
        width: 970px;
        
    }
}



@media (max-width: 1199px){


    .header-text{
        position: static;
        width: 430px;
        height: 103px;
        font-size: 20px;
        line-height: 26px;
    }

    h1{ 
        position: static;
        width: 727px;
        height: auto;
        font-size: 60px;
        line-height: 70px;
        margin-left: 0;
    }
}




@media (max-width: 767px){

    .header{
        height: 716px;
    }

    .header-text{
        width: 310px;
        height: 103px;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    h1{  
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }

    .nav{
        display: none;
    }

    .burger-btn{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 2px;
        margin-right: 13px;
        background: none;
        border: none;
        border-top: 5px solid gold;
        border-bottom: 5px solid gold;
    }

    .burger-btn::after {
        content: "";
        position: absolute;
        right: 0;
        top: 13px;
        height: 5px;
        width: 100%;
        background-color: gold;
    }

    .burger-btn_open::after {
        display: none;
    }

    .burger-btn_open{
        position: absolute;
        top: 26px;
        right: 0;
        width: 40px;
        height: 40px;
        border: none;
        background: url('../resources/cross-button.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #000000;
    }

}

@media (max-width: 500px){

    .header-inner{
        padding-top: 15px;
        margin-bottom: 240px;
          
    }

    .burger-btn{
        margin-top: 7px;
        margin-right: 15px;
    }

    .burger-btn_open{
        top: 17px;
        right: 0;
    }

    h1{  
        font-size: 35px;
        
    }


}
