.presentation{
    padding-top: 150px;
}

.presentation-subtitle{
    margin-left: -3px;
    margin-bottom: 40px;
}



.presentation-img{
    position: relative;
    border-radius: 30px;
}

.presentation-img:hover{
    border: 2px solid darkviolet;
}

.presentation-img-interior{
    height: 548px;
    width: 100%;
}

.presentation-img-item {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    display: block;
    display: inline-block;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    padding: 10px 20px;
    left: 47px;
    top: 50px;
    background-color: mediumblue;
    color: gold;
    border-radius: 100px;
}

.presentation-img-name{
    position: absolute;
    height: 46px;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    top: 410px;
    left: 50px;
    letter-spacing: -0.03em;
    color: gold;
}

.presentation-img-service{
    position: absolute;
    height: 39px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    top: 461px;
    left: 50px;
    letter-spacing: -0.03em;
    color: gold;
}

.presentation-button{
    padding-bottom: 150px;
}

.presentation-button a{
    display: block;
    border: 1px solid darkviolet;
    width: 582px;
    height: 153px;
    background: darkviolet;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 153px;
    margin-top: 80px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
}

.presentation-button a:hover{
    background: #000000;
    color: darkviolet;
}




@media (max-width: 1199px){
    
    .presentation-subtitle{
        margin-bottom: 53px;
    }

    .presentation-img{
        border-radius: 24px;
    }

    .presentation-img-interior{
        width: 100%;
        height: 445px;
        object-fit: cover;
        border-radius: 24px;
        margin-bottom: -3px; 
    }

    .presentation-img-item {
        font-size: 16px;
        line-height: 22px;
        padding: 8px 16px;
        left: 35px;
        top: 40px;
        border-radius: 80px;
    }

    .presentation-img-name{
        height: 36px;
        font-size: 28px;
        line-height: 36px;
        top: 333px;
        left: 40px;
    }
    
    .presentation-img-service{
        height: 31px;
        font-size: 24px;
        line-height: 31px;
        top: 374px;
        left: 40px;
    }

    .presentation-button a{
        width: 460px;
        height: 124px;
        border-radius: 8px;
        font-size: 24px;
        line-height: 124px;
        margin-top: 64px;
    }


}



@media (max-width: 767px){

    .presentation{
        padding-top: 100px;

    }

    .presentation-subtitle{
        margin-bottom: 34px;
        Height: 78px;
        font-size: 30px;
        line-height: 39px;  
    }

    .presentation-img-interior{
        height: 450px;  
    }

    .presentation-img-item {
        font-size: 13px;
        line-height: 18px;
        padding: 6px 19.5px;
        left: 33px;
        top: 30px;
        border-radius: 64px;
    }

    .presentation-img-name{
        height: 36px;
        font-size: 28px;
        line-height: 36px;
        top: 333px;
        left: 35px;
    }
    
    .presentation-img-service{
        height: 21px;
        font-size: 16px;
        line-height: 21px;
        top: 374px;
        left: 35px;
    }

    .presentation-button{
        padding-bottom: 98px;
    }

    .presentation-button a{
        width: 350px;
        height: 80px;
        border-radius: 8px;
        font-size: 18px;
        line-height: 80px;
        margin-top: 60px;
    }

    
}

@media (max-width: 500px){

    .presentation-subtitle{
        width: 268px;
    }

    .presentation-button a{
        width: 100%;
    }
}